<section class="ba-bg">
	<div class="row column ">
		<div class="ba-section">
		<h2 class="ba-section-title">
			Featured Items
		</h2>
		<div class="ba-section__desc">
			<p>Let’s see featured items!</p>
		</div>
		<div class="row ba-slider">
			<div class="column small-12 medium-6 large-4">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img"><img src="assets/img/item1.png" alt="pic"></div>
						<h3 class="ba-product__title">Vaber Jinish Very Stylish</h3>
						<div class="ba-product__rate">
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>


						</div>
						<div class="ba-product__price">255$</div>
					</a>
					
				</article>
			</div>
			<div class="column small-12 medium-6 large-4">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img"><img src="assets/img/item2.png" alt="pic"></div>
						<h3 class="ba-product__title">Vaber Jinish Very Stylish</h3>
						<div class="ba-product__rate">
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>


						</div>
						<div class="ba-product__price">255$</div>
					</a>
					
				</article>
			</div>
			<div class="column small-12 medium-6 large-4">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img"><img src="assets/img/item3.png" alt="pic"></div>
						<h3 class="ba-product__title">Vaber Jinish Very Stylish</h3>
						<div class="ba-product__rate">
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>


						</div>
						<div class="ba-product__price">255$</div>
					</a>
					
				</article>
			</div>
			<div class="column small-12 medium-6 large-4">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img"><img src="assets/img/item1.png" alt="pic"></div>
						<h3 class="ba-product__title">Vaber Jinish Very Stylish</h3>
						<div class="ba-product__rate">
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>


						</div>
						<div class="ba-product__price">255$</div>
					</a>
					
				</article>
			</div>
			<div class="column small-12 medium-6 large-4">
				<article class="ba-product">
					<a class="ba-product__link" href="single-product.html">
						<div class="ba-product__img"><img src="assets/img/item1.png" alt="pic"></div>
						<h3 class="ba-product__title">Vaber Jinish Very Stylish</h3>
						<div class="ba-product__rate">
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>
							<svg height="16" width="18">
								<use xlink:href="#icon-star"/>
							</svg>


						</div>
						<div class="ba-product__price">255$</div>
					</a>
					
				</article>
			</div>
		</div>
	</div>
	</div>
</section>